.navbar {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
}


.logo {
  height: 4rem;
  width: auto;
  padding: 1rem;
}

.buttonContainer {
    padding: 1rem;
    margin: 1rem;
}
.button{   
  border: black 0.1 solid; 
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  border-radius: 0.75rem;
  transition: transform 0.6s ease;
}

.login:hover,
.register:hover {
    cursor: pointer;
    transform: scale(1.07);
}
